/* color
iris - #4D5AE5; primary brand
ocean -#404BBf; pressed
navy blue -#2E2F42; dark
green - #31D0AA;  success
slate - #434455;  text
ligth slate -#8E8F99;  subtle text
cornflower - #E7E9FC;  accent
cloud - #F4F4FD; light background
navy blue modal - #2E2F42; modal overlay
grey - #2E2F42; hero background               ?
white - #FFFFFF; white background
dairy - #FCFCFC; modal background

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body {
    background-color: #ffffff;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}
ul {
    list-style-type: none;
}
img {
	display: block;
    max-width: 100%;
}

.container { 
   
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right:  auto;
}
.container-header {
    /* width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right:  auto; */
    display: flex;
    justify-content: space-between;
        
    
}


/* Hidden header */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


section {
    padding: 156;
}


/*Headlines*/

h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em
}
h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/*Header*/
.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*Logo*/
.link-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo-header {
    color: #2E2F42;
}
.logo-footer {
    color: #F4F4FD;
}
.link  {
    position: relative; 
    display: inline-block;
    text-decoration: none; 
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.link-port  {
    position: relative; 
    display: inline-block;
    text-decoration: none; 
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-cont 

{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 
.site-nav .link:hover {

    color: #404BBf
}
.site-nav  .link:focus {
    
    color: #404BBf
}
.link:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 4px;
    left: 0;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;

}
address {
font-style: normal;

}
.link-contact{
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-contact:hover,
.link-contact:focus {
    color: #404bbf;
}
.site-nav {
    display: flex;
    align-items: center; 
    margin-right: 0;
}
.main-nav {
    display: flex;
   flex-direction: row;
    gap: 40px;
   
    
}
.site-contact {
    display: flex;
    gap: 40px;
   
    padding-top: 24px;
    padding-bottom: 24px;
  
    
    

}
/*Hero*/
.hero {
    background-color: #2E2F42 ;
    text-align: center;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover; 
}
.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;


}
/*Button*/
.button {
    display: block;
    min-width: 169px;
    background-color: #4D5AE5 ;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
}
.button:hover {
    background-color: #404BBf;
}
.button:focus {
    background-color: #404BBf;
}
/* Our advantages */
.advantage-main {
    padding: 120px 0 120px;

}
.advantages-background {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px; 
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  
    
} 
.advantages-sprite {
    width: 64px;
    height: 64px;
}
.ouradvant-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
   
    
}
.list-title {
    margin-bottom: 8px;
}
.ouradvant-item {
    flex-basis: calc((100% - 72px) / 4);
}
/*Our portfolio*/

.portfolio{
    padding: 120px 0 120px 0;
}
.data-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    
}
.titles-portfolio {
    margin-bottom: 8px;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;               }

 .item-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }   
.item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    

}


    
     


/*Our team*/
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title-ourteam {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
  
    margin-bottom: 72px;
    
}
.list-ourteam {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
    
}
.item-ourteam {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.text-team {
    font-size: 16px;
    text-align: center;
    
}
.data-team {
    padding: 32px 0;
    text-align: center;
}
.title-team {
    margin-bottom: 8px;
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
  

}

.team-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sprite {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-sprite:hover {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
  .team-sprite:focus {
    background-color: #404BBf ;
    fill: #F4F4FD ;
  }
  
/*Footer*/
.container-position {
    display: flex;
    align-items: baseline;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0 100px;
}
.footer-text {
    width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}
.link-logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    
}
.footer-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.footer-list {
    display: flex;
    gap: 16px;
}
.footer-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sprite {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD ;
    background-color: #4d5ae5 ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-sprite:hover {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
  .footer-sprite:focus {
    background-color: #31D0AA ;
    fill: #F4F4FD ;
  }
  .footer-inscripshion {
    margin-right: 120px;
  }
  .footer-icon {
    fill: #f4f4fd;
  }

  /*Porfolio overlay*/

    .picture-overlay {
        position: relative;
        overflow: hidden;
    }
    .text-overlay {
        position: absolute; 
        top: 0; 
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd; 
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
   
    .item-portfolio:hover .text-overlay {
        transform: translateY(0%);
    }